@media screen and(max-width: 1200px){
	.menu-center li {
		margin:0 1.5%;
	}
	.menu-input-open{
		width: 95%;
	}
	
}
@media screen and(max-width: 991px){
	.menu-big{
		width: 50%;
		margin:5% auto;
	}
	.menu-search {
	    margin: 70% 0;
	}
	.menu-list-flex{
		flex-wrap: wrap;
		.menu-list-one{
			width: 40%;
		}
	}
	/*top section*/
	.top-section__pagetitle {
		h1 {
			text-align: center;
			margin-top: 41px;
			margin-bottom: 30px;
		}
		h2 {
			text-align: center;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	} 
	.top-section__button-block {
		.btn {
			margin-bottom: 20px;
		}
	}
	.top-section__breadcrumbs {
		margin-top: 50px;
	}
	.top-section__small-buttons {
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 0;
	}
	/*top section*/ 
	/*content section*/
	.content-section {
	  img {
	    max-width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	  }
	}
	.content-section__button-block {
		margin-top: 15px;
	}
	.content-section__development-block {
		.card {
			margin-bottom: 30px;
			h2 {
				text-align: center;
			}
		}
	}
	.content-section__button-text {
		margin-bottom: 27px;
	}
	/*content section*/ 
	/*events section*/
	.events-section {
		margin-top: 17.5px;
	} 
	/*events section*/ 

	/*strategy-section*/ 
	.strategy-section {
		ul {
			margin-left: 0;
			width: 100%;
			li {
				padding-left: 0;
			}
		}
	}
	/*strategy-section*/ 

	/*map section*/
	.branch-carousel {
		.map-human {
			 margin-bottom: 36px!important;
		}
	} 
	/*map section*/ 
}
@media screen and(max-width: 767px){ 
	.menu-big{
		background: 0;
	}
	.menu-search {
	    margin: 13% 0;
	}
	.top-menu{
		margin-top: 21%;
	}
	.footer-logo p {
	    margin-top: 6%;
	    margin-bottom: 10%;
	}
	.footer-text .footer-text-conf {
	    display: block;
	    margin-bottom: 3%;
	}
	/*events all section*/ 
	.events-all-section {
		img {
			margin-bottom: 30px;
		}
	}
	.events-all-section__block {
	  margin-bottom: 60px;
	}
	/*events all section*/ 
}
@media screen and(max-width: 575px){
	.top-menu {
	    margin-top: 60%;
	}
	/*top section*/ 
	.top-section__pagetitle {
		h1 {
			font-size: 20px;
			line-height: 1.5;
		}
		h2 {
			font-size: 14px;
			line-height: 1.5;
		}
	}
	.top-section__date {
		margin-top: 15px;
	}
	.top-section__breadcrumbs {
		.breadcrumb {
			font-size: 12px;
		}
	}
	.top-section__button-block {
		text-align: center;
		.card {
			.card-body {
				p {
					font-size: 12px;
					margin-top: 20px;
				}
			}
		}
		.btn {
			font-size: 12px;
		}
	}
	.top-section__button-block-icon {
		width: 15px;
    	height: 15px;
    	margin-top: 0;
	}
	/*top section*/ 
	/*products section*/
	.products-section__caption {
		font-size: 20px;
		text-align: center;
		margin-top: 0;
		margin-bottom: 20px;
	}
	.products-section__block {
		p {
			font-size: 12px;
		}
		.btn {
			font-size: 12px;
			margin-bottom: 30px;
		}
	}
	/*products section*/ 
	/*content section*/
	.content-section {
		padding: 32px 0 15px 0;
		p {
			font-size: 12px;
		}
		h4 {
			font-size: 16px;
			text-align: center;
		}
		a {
			font-size: 12px;
		}
		.btn {
			font-size: 12px;
		}
	}
	.content-section__button-text {
		margin-top: 30px;
	}
	.content-section__menu {
		margin-bottom: 8px;
		ul {
			li {
				a {
					font-size: 12px;
				}
				&.list-collapse {
					&>a {
						&::after {
							width: 9px;
							height: 9px;
							margin-top: 6px;
						}
					}
				}
			}
		}
	}
	.content-section__placeholder-list {
		ul {
			li {
				line-height: 1.8;
				&::before {
					width: 12px;
					height: 12px;
				}
			}
		}
	}
	.content-section__button-block-icon {
		width: 15px;
    	height: 15px;
    	margin-top: 0;
	}
	.content-section__button-block {
		.card {
			.card-body {
				padding-top: 1rem;
				img {
					margin-bottom: 30px;
				}
			}
		}
	}
	.content-section__development-wrap {
		margin-top: 30px;
   	    margin-bottom: 20px;
	}
	.content-section__development-block {
		.card {
			min-height: 150px;
			h2, a {
				font-size: 20px;
			}
		}
	}
	/*content section*/ 
	/*events section*/
	.events-section {
		.card {
			padding: 27px 32px 10px 32px;
			p {
				font-size: 12px;
			}
			a {
				font-size: 12px;
			}
			.owl-nav {
				text-align: center;
				margin-top: 20px;
			}
		}
	}
	.event-section__caption {
		h4 {
			font-size: 16px;
		}
	}
	.event-section__carousel-block {
		margin: 20px 0 0 0;
	}
	/*events section*/ 
	/*map section*/
	.branch-carousel {
		.map-filial, 
		.map-human {
			text-align: center;
			margin-left: 0;
			font-size: 14px;
		}
		.map-filial {
			margin-bottom: 20px;
		}
		.map-human-text {
			p {
				font-size: 20px;
				margin-bottom: 10px;
			}
			&>span {
				margin-bottom: 28px;
			}
		}
	}
	/*map section*/ 
}
@media screen and(max-width: 360px){
	.menu-list-flex{
		flex-wrap: wrap;
		.menu-list-one{
			width: 80%;
		}
	}
	.menu-list-one{
		.menu-list-normal{
			display: none;
		}
	}
}